body{
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);

}
h1{
  color: blue;
  width: 500px;
}
a.btn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}
.form-group{
  border-color: rgb(104, 145, 162);
  outline: 0;
}
.cuadro{
  width:1000px;
  margin:10px 50px;
  padding:20px;
  font-size:italic;
  background-color:#cfc;
  color:#000
}
